/* Navbar */
.navbar-dark {
  color: white;
  background-color: #343A40
}
.navbar-light {
  color: black;
  background-color: #f8f9fa
}
.navbar-eco {
  color: black  ;
  background-color: yellow
}

/* Text Style */
#text-dark {
  color: white
}
#text-eco {
  color: white
}
#text-light{
  color: black
}

/* Text Area Style */
.textarea-light,.textarea-eco{
  color: black;
  background-color: white;

}
.textarea-dark{
  color: white;
  background-color: #4a4a4b
}
